*
{
    margin: 0px;
}
div
{
    box-shadow:0 0 10px black ;
    border-radius: 20px;
    width: 500px;
    height: 400px;
    margin: 100px auto;
    position: relative;
}
div>img
{
    width: inherit;
    height: inherit;
    border-radius: 10px;
}
div>#child
{
    background-color:rgba(0,0,0,0.2);
    text-align: center;
    position: absolute;
    margin: 0px;
    top: 0px;
    left: 0px;
    color: aqua;
}